<ion-header>
    <ion-toolbar>
        <ion-title>dev1</ion-title>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-padding">
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [chartType]="'line'">
        </canvas>
    </ion-card>
    <ion-card class="ion-padding">
        <ion-card-header>
            <ion-card-title>Settings</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Timeframe</ion-label>
                    <ion-select [(ngModel)]="timeframe" value="1" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="1">1 Day</ion-select-option>
                        <ion-select-option value="7">7 Days</ion-select-option>
                        <ion-select-option value="30">1 Month</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <ion-button slot="end" (click)="getData()">
                <ion-icon slot="start" name="refresh"></ion-icon>
                Refresh
            </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card class="ion-padding">
        <ion-card-content>
           <h1>${{money | number}}</h1>
        </ion-card-content>
    </ion-card>
</ion-content>